body {
    font-family: Arial, sans-serif;
    background-color: #090705;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: #a5a4a4;
    border-radius: 5px;
}

.space {
    margin-top: 50px;
}

/* showing list style */
.todo-item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    background: #fff;
    border-radius: 3px;
}

/* input field styling */
input {
    width: 75%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* button styling */
button {
    padding: 10px 10px;
    background-color: #340ce9;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #050f29;
}

/* add task button style */
.task-btn {
    margin-top: 5px;
    margin-left: 5px;
}

/* use ul making list */
ul {
    list-style-type: none;
    padding: 0;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    border-radius: 10px;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}